
<%= div_for comment do |f| %>
<h4 class= "container"><%= comment.body %></h4>

<span class = "badge" align="right"><%= time_ago_in_words(comment.created_at) %> ago by <%= comment.postedby %></span>




<% end %>