<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">
                    Contact us <small>Feel free to contact us</small></h1>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
            <form>
            <legend><span class="glyphicon glyphicon-globe"></span> Our office</legend>
            <address>
                <strong>BoTree Con. </strong><br>
                7th floor,JDC arcade,<br>
                Ahmedabad<br>
                <abbr title="Phone">
                    P:</abbr>
                +919714860022
            </address>
            <address>
                <strong>Botree Consulting</strong><br>
                <a href="mailto:#">botreeconsulting.com</a>
            </address>
            </form>
</div>