<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<!-- bxSlider Javascript file -->
<script src="/assets/jquery.bxslider.min.js"></script>
<!-- bxSlider CSS file -->
<link href="/assets/jquery.bxslider.css" rel="stylesheet" />
<ul id="slider2">
  <li><img src="/assets/biology.jpg" title="BIOLOGY" /></li>
  <li><img src="/assets/chemistry.jpg" title="CHEMISTRY"/></li>
  <li><img src="/assets/physics.jpg" title="PHYSICS"/></li>
  <li><img src="/assets/mathematics.jpg" title="MATHEMATICS"/></li>
  <li><img src="/assets/history.jpg" title="HISTORY"/></li>
  <li><img src="/assets/computer.jpg" title="COMPUTER"/></li>
  <li><img src="/assets/civics.jpg" title="CIVICS"/></li>
  <li><img src="/assets/geography.jpg" title="GEOGRAPHY"/></li>
  <li><img src="/assets/economics.jpg" title="ECONOMICS"/></li>
</ul>
<script>
$('#slider2').bxSlider({
  auto: true,
  mode: 'fade',
  autoControls: true,
  slideMargin: 20,
  autoHover: true,
  captions: true,
  speed: 500
});
</script>