<div class="mytour">
<div class="hero-unit">
       <h1>Learn Collaborative Learning With Us..</h1>
        <p class="lead"></p>
        <p><%= link_to "Get Started" , help_path, :class => "btn btn-success btn-large" %></p>
    </div>
    </div>
 