<div class="container-fluid">

<div class="hero-unit">
<%= image_tag('home.jpg',:alt => "home", :align => 'left', :width => '200') %>
<div class="pull right">
       <h1>Learn Collaborative Learning With Us..</h1>
        <p class="lead"></p>
        <p><%= link_to "Get Started" , help_path, :class => "btn btn-success btn-large" %></p>
    </div>
    </div>
    </div>
 